p {
  font-family: sans-serif;
  color: #000;
}

.p_paragrafo {
  font-size: 1.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.p_paragrafo:hover {
  transform: translateY(-2px);
  font-weight: 600;
}

.p_titulo {
  font-size: 2.1rem;
  font-weight: bold;
}

.p_descricao {
  font-size: 0.9rem;
  font-weight: 600;
  color: #282727;
}

.p_padrao {
  font-size: 1rem;
}

.p_error {
  font-size: 0.8rem;
  font-weight: 800;
  color: red;
}
