.card {
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s;
  padding: 10px;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

.capa {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
  margin: 10px 0 0 0;
  font-size: 1rem;
  color: #333;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
