.titulo_container {
  margin-bottom: 20px;
}

.livro_container {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 50px auto;
  gap: 5px;
  padding: 50px;
  width: 40%;
}

.textarea_container {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.textarea_container textarea {
  font-family: "Source Serif 4", serif;
  width: 325px;
  height: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.9rem;
}

.botao_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}
